.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}  

#circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  width: 100px;
    height: 100px;  
}

.loader {
    width: calc(100% - 0px);
  height: calc(100% - 0px);
  border: 8px solid #162534;
  border-top: 8px solid #09f;
  border-radius: 50%;
  animation: rotate 5s linear infinite;
}
.loading {
    animation: rotate 5s linear infinite;
    width: 50%;
    height: 50%;
}
.load {
  animation: load 15s linear 1;
}
@keyframes load {
0% {width: 0%}
20% {width: 20%}
40% {width: 40%}
60% {width: 60%}
70% {width: 70%}
80% {witdh: 80%;}
90% {width: 90%}
92% {width: 92%}
94% {width: 94%}
95% {width: 95%}
96% {width: 96%}
97% {width: 97%}
100% {witdh:100%;}
} 
@keyframes rotate {
100% {transform: rotate(360deg);}
} 
.progress {
  width: 100%;
  border: none;
}