<!DOCTYPE html>
<html>
<head>
	<title>Pudding - Post</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/fontawesome/css/all.css">
  
	<link rel="stylesheet" href="/layout.css">
<link rel="stylesheet" href="/signin.css">
<link rel="stylesheet" href="/loader.css">
<script src="/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
  <style type="text/css">
  body {
    padding-top: 0;
    padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71;
  }
  .h1 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #159957;
  }
</style>
<body>

  <section class="display-pic">
  <div style="float:left;margin: 10px; margin-right: 0;">
    <a href="/" class="btn btn-lg btn-link" style="color:#fff;">
  <i class="fa fa-lg fa-arrow-left" style="top:0;"></i>
    </a>
  </div>
   <div style="float:right;margin: 10px;">
    <a href="/auth/settings" class="btn btn-lg btn-link" style="color:#fff;">
  <i class="fa fa-lg fa-cog" style="top:0;"></i>
    </a>
  </div>
  
<br>
<br>
<br>
	
  </section>
  <br>
  <div class="container-fluid">

      <ul class="list-group" id="chat-div">
    
        
    
        
    </ul>

    </div> <!-- /container -->
    <nav class="navbar navbar-default navbar-fixed-bottom agradient">
      <div class="container-fluid" style="height: 100px;">
        	<br><div class="input-group">
                
                <input type="text" placeholder="Type Something..." class="form-control" name="chat" id="chatBox" />
                <span class="input-group-btn">
<button type="button" onclick="send()" class="btn btn-primary"><i class="fa fa-lg fa-paper-plane"></i></button>
</span>
           </div>

        	
        	               
        
      </div>
    </nav>

</body>
<script type="text/javascript" src="/socket.io.js"></script>
<script type="text/javascript" src="/chat.js"></script>
<!-- <script type="text/javascript" src="/angular/angular.min.js"></script>
<script type="text/javascript" src="/controllers/controller.main.js"></script> -->

</html>

