<head>
    <title><%= title %>/home </title>
	 <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel='stylesheet' href='/stylesheets/flatly.bootstrap.min.css' />
     <link rel='stylesheet' href='/stylesheets/font/css/all.min.css' />
     <link href='https://fonts.googleapis.com/css?family=Product+Sans' rel='stylesheet' type='text/css'>
     <link rel="icon" href="/images/logo/favicon.ico" />
     <link rel='stylesheet' href='/stylesheets/style.css' />
     <script src="/javascripts/stroll.min.js"></script>
     <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
     <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
     <script type="text/javascript" src="/javascripts/dom.js"></script>
     <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
     <script>
          (adsbygoogle = window.adsbygoogle || []).push({
               google_ad_client: "ca-pub-1305438573452197",
               enable_page_level_ads: true
          });

     </script>
     <script type="text/javascript">
         ScrollReveal().reveal('.gram-card', {
         distance: '150%',
         origin: 'right',
         opacity: null
     });
     </script>

</head>
