<!-- views/login.hbs -->
<!doctype html>
<html>
<head>
 <meta name="description" content="A new social media platform">
  <meta name="keywords" content="pudding,divy,social,media,new">
  <meta name="author" content="Divy Srivastava">
    <title>Pudding - Login</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="/layout.css"> <!-- load fontawesome -->
    <style>
        body        { 
            padding-top:80px;
             width: device-width;
  height: device-height;
        
        
            background-image: url('http://ultraimg.com/images/Ho6hQWs.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            color: white;
        }   
               
        .shadow { box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08); border-radius: 10px; }
    </style>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-1305438573452197",
          enable_page_level_ads: true
     });
</script>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">
    <div class="agradient logo-div"> 
        <h2 class="font"><center> Pudding </center></h2>
    </div>
    <!-- show any messages that come back with authentication -->
    {{#if message}}
        <div class="alert alert-danger"> {{ message }} </div>
    {{/if}}

    <!-- LOGIN FORM -->
    <form action="/auth/login" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label class="text-muted" style="color:white;">Username</label>
            <input type="text" placeholder="your_nick_name" class="form-control" name="username">
        </div>
        <div class="form-group">
            <label class="text-muted" style="color:white;">Password</label>
            <input type="password" placeholder="the_secret" class="form-control" name="password">
        </div>

        <button type="submit" class="btn agradient form-control">LOGIN</button>
        
    </form>

    <hr>

    <p>Need an account? <a href="/auth/signup" style="color:#159957">Register</a></p>
    <p>Or go <a href="/" style="color:#159957">home</a>.</p>

</div>

</div>
<br>
<br><br><br><br><br><br><br><br><br><br>
</body>

</html>