<!-- views/login.hbs -->
<!doctype html>
<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Product+Sans' rel='stylesheet' type='text/css'>
 <meta name="description" content="A new social media platform">
  <meta name="keywords" content="pudding,divy,social,media,new">
  <meta name="author" content="Divy Srivastava">
    <title>Pudding - Login</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="/fontawesome/css/all.css">
    {{#if normal}}
<link rel="stylesheet" href="/layout.blue.css">
{{/if}}
{{#if light}}
<link rel="stylesheet" href="/layout.css">
{{/if}}
    <style>
    .theauth {
        background-color: #fff;
        /* animation: tilt 2s linear 1; */
        border-radius: 15px;
        transform: rotate(-1deg);
        box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
        
    }
   
        body        { 
           padding-top:75px;
             width: device-width;
              height: device-height;
        
         {{#if normal}}
            background-image: linear-gradient(180deg, #155799,#159957); 
            {{/if}}
           
            {{#if light}}
            background-image: linear-gradient(180deg, cornflowerblue, deepskyblue); 
            {{/if}}
             /*background-color: cornflowerblue; */
           
            background-repeat: no-repeat;
            background-size: cover;
            
        }   
               
        .shadow { box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08); border-radius: 10px; }
    </style>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-1305438573452197",
          enable_page_level_ads: true
     });
</script>
</head>
<body>
<div class="container-fluid theauth">

<div class="col-sm-6 col-sm-offset-3">
<div class="signup-form">
<br>
    <div class="agradient logo-div"> 
        <h2 class="font"><center> Pudding </center></h2>
        <center class="font">login</center>
    </div>
    <!-- show any messages that come back with authentication -->
    {{#if message}}
        <div class="alert alert-danger"> {{ message }} </div>
    {{/if}}

    <!-- LOGIN FORM -->
    <form action="/auth/login" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label class="text-muted" style="color:white;">Username</label>
            <input type="text" placeholder="your_nick_name" class="form-control" name="username">
        </div>
        <div class="form-group">
            <label class="text-muted" style="color:white;">Password</label>
            <input type="password" placeholder="the_secret" class="form-control" name="password">
        </div>

        <button type="submit" class="btn agradient form-control">LOGIN</button>
        
    </form>

    <hr>

    <p>Need an account? <a href="/auth/signup" style="color:#159957">Register</a></p>
    <p>Or go <a href="/" style="color:#159957">home</a>.</p>
    <br></div>
</div>

</div>
<br>
<br>
<div class="container-fluid auth-footer">
    <br>
    
    <a class="btn btn-link non-hoverable" href="https://instagram.com/undefined_void"><img src="/social-instagram-w.png" class="gram-card-user-image" style="background-color:transparent;"></a>

    <a class="btn btn-link non-hoverable" href="https://twitter.com/undefined_void"><img src="/social-twitter-w.png" class="gram-card-user-image" style="background-color:transparent;"></a>

    <a class="btn btn-link non-hoverable" href="https://facebook.com/undefined_void"><img src="/social-facebook-w.png" class="gram-card-user-image" style="background-color:transparent;"></a>
    <a class="btn btn-link non-hoverable" href="https://slack.com/undefined_void"><img src="/social-slack-w.png" class="gram-card-user-image" style="background-color:transparent;"></a>
    <a class="btn btn-link non-hoverable" href="https://youtube.com/users/PoodleStudios"><img src="/social-youtube-w.png" class="gram-card-user-image" style="background-color:transparent;"></a>

    <a class="btn btn-link non-hoverable" href="#"><img src="/social-linked-in-w.png" class="gram-card-user-image" style="background-color:transparent;"></a>
    <br><br><br>
    <br><br><br><br>
    </div>

</body>

</html>