  	<div class="container-fluid navbar-fixed-top box-shadow" style="background-color:#fff; margin-bottom:2rem">
  		<a class="float-left" href="/">
	    <h2>
	    	<img src="/images/logo/logo.png" class="logo">
	    	spruce
	    </h2>
	    </a>
	    <div class="float-right margin-top-20">
	    	<a href="/u" class="btn btn-link hidden-xs">
	    		<i class="fa fa-lg fa-search pills"></i>
	    	</a>
	    	<button style="outline: none" type="button" class="btn btn-link" id="sidebarToggle">
	    		<i class="fa fa-lg fa-align-left pills"></i>
	    	</button>
	    </div>
	</div>
	