  	<div class="container-fluid top-navbar box-shadow">
  		<a class="float-left" href="/">
	    <h2>
	    	<img src="/images/logo/logo.png" class="logo">
	    	leaflet
	    </h2>
	    </a>
	    <div class="float-right margin-top-20">
	    	<a href="/u" class="btn btn-link hidden-xs">
	    		<i class="fa fa-lg fa-search pills"></i>
	    	</a>
	    	<button type="button" class="btn btn-link" id="sidebarToggle">
	    		<i class="fa fa-lg fa-align-left pills"></i>
	    	</button>
	    </div>
	</div>
	