<!DOCTYPE html>
<html>
<head>
  <title>Pudding - Post</title>
  
</head>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/layout.css">
<link rel="stylesheet" href="/fontawesome/css/all.css">
<script src="/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<body>
<div class="container gradient">
	<input type="text" placeholder="Search" class="form-control searchField" name="search" id="search" onsubmit="search()" autofocus><br>
	<ul class="list-group" ng-repeat="id in users">
        <li class="list-group-item"><strong><a class="non-hoverable" href="/user/{{ id.username }}">{{ id.username }}</a></strong></li>
        
    </ul>
    <div id="alert-not-found" style="display:none;" class="alert alert-danger">
    	User <strong>{{ nonExistingUser }}</strong> doesn't seem exist.
    </div>

</div>
<script type="text/javascript">
	function search() {
		window.location.href="/search/"+$("#search").val()
	}
</script>
</body>