<!DOCTYPE html>
<html>
<head>
  <title>Pudding - Search</title>
  
</head>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/layout.css">
<link rel="stylesheet" href="/fontawesome/css/all.css">
<script src="/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<body>
<div class="container gradient">
	<form action="/search" method="post" enctype="multipart/form-data">
	<input type="text" placeholder="Search" class="form-control" name="search" id="search" autofocus required><br>
	</form>
	{{#if id}}
	<ul class="list-group">
		{{#each id}}
        <li class="list-group-item"><strong><a class="non-hoverable" href="/user/{{ username }}">{{ username }}</a></strong></li>
		{{/each}}
        
    </ul>
    {{/if}}
    {{#if notFound}}
    <div id="alert-not-found" class="alert alert-danger">
    	User <strong> {{ searchedFor }} </strong> doesn't seem exist..
    </div>
    {{/if}}
</div>
</body>
</html>