<div class="navbar-fixed-bottom tab-div">
  <br>
<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
  <center>
    <i class="fa fa-lg fa-igloo"></i>
  </center>
</div>
<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
  <center>
    <i class="fa fa-lg fa-igloo"></i>
  </center>
</div>
<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
  <center>
    <i class="fa fa-lg fa-igloo"></i>
  </center>
</div>
<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
  <center>
    <i class="fa fa-lg fa-igloo"></i>
  </center>
</div>
<br>
<br>
</div>
