<div class="navbar-fixed-bottom tab-div notify_message-success hidden-sm hidden-lg hidden-xl">

  <div class="padding">
<div class="col-xs-2">
  <center>
    <a href="/" class="as-is"><i class="fa fa-lg fa-igloo"></i></a>
  </center>
</div>
<div class="col-xs-2">
  <center>
    <a href="/u" class="as-is"><i class="fa fa-lg fa-search"></i></a>
  </center>
</div>
<div class="col-xs-2">
  <center>
    <a href="/me/upload" class="as-is"><i class="fa fa-lg fa-plus"></i></a>
  </center>
</div>
<div class="col-xs-2">
  <center>
  <a href="/me/activity" class="as-is">  <i class="fa fa-lg fa-heart"></i></a>
  </center>
</div>
<div class="col-xs-2">
  <center>
  <a href="/me" class="as-is">  <i class="fa fa-lg fa-user-alt"></i></a>
  </center>
</div>
</div>

</div>
