<!DOCTYPE html>
<html>
<head>
	<title>Pudding - Post</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/fontawesome/css/all.css">
  
	<link rel="stylesheet" href="/layout.css">
<link rel="stylesheet" href="/signin.css">
<link rel="stylesheet" href="/loader.css">
<script src="/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
  <style type="text/css">
  body {
    padding-top: 0;
    padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71;
  }
  .h1 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #159957;
  }
</style>
<body>

  <section class="display-pic">
  <div style="float:left;margin: 10px; margin-right: 0;">
    <a href="/" class="btn btn-lg btn-link" style="color:#fff;">
  <i class="fa fa-lg fa-arrow-left" style="top:0;"></i>
    </a>
  </div>
   <div style="float:right;margin: 10px;">
    <a href="/auth/settings" class="btn btn-lg btn-link" style="color:#fff;">
  <i class="fa fa-lg fa-cog" style="top:0;"></i>
    </a>
  </div>
  
<br>
<br>
<br>
	
  </section>
   <div class="loaderBar" style="display:none" data-example-id="animated-progress-bar">
    <div class="progress" style="background-color: #fff;">
      <div class="progress-bar progress-bar-striped load" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
    </div>
  </div>
  <br>
  <div class="container">

      <form class="form-signin" action="/upload" method="POST" enctype="multipart/form-data">
       <br>
       <center>
        <div class="upload-btn-wrapper">
         <button class="btn btn-link btn-lg btn-action" id="post">   <i class="fa fa-lg fa-upload"></i> Choose an image.
         </button>
         <input type='file' name='filetoupload' id="file" required/>
        </div>
        <br>
        
      </center>

        <label for="inputEmail" class="sr-only">Caption</label>
        <input type="textarea" id="inputCaption" name="caption" class="form-control" placeholder="a_cool_caption" required autofocus>
        <label for="inputPassword" class="sr-only"></label>
        <input type="text" id="inputTag" name="tag" class="form-control" placeholder="a_searchable_tag" required>

        <br>
        <br>
        
        <button class="btn btn-lg agradient btn-action" onclick="load()" type="submit"><i class="fa fa-file-invoice"></i> Post</button>
    
      </form>
<div class="cog-div" style="display: none;">
          <center><i class="fa fa-5x fa-cog loading"></i>
            </center><br>
            <center class="text-muted">Just a sec..</center>
        </div> 
    
  </div>
    </div> <!-- /container -->
</body>
<script type="text/javascript">
  function load() {
    $('.loaderBar')[0].style.display='inherit';
    $('.cog-div')[0].style.display='inherit';       
    
    
  }
</script>
<!-- <script type="text/javascript" src="/angular/angular.min.js"></script>
<script type="text/javascript" src="/controllers/controller.main.js"></script> -->

</html>
