<!DOCTYPE html>
<html>
<head>
	<title>Pudding - Post</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/fontawesome/css/all.css">
  
	{{#if normal}}
<link rel="stylesheet" href="/layout.blue.css">
{{/if}}
{{#if light}}
<link rel="stylesheet" href="/layout.css">
{{/if}}
<link rel="stylesheet" href="/signin.css">
<link rel="stylesheet" href="/loader.css">
<script src="/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<script type="text/javascript">
       function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result);
                     $('#postBtn')   
                        .attr('disabled', false)
                      $('#postDiv')[0].style.background="linear-gradient(120deg,cornflowerblue,deepskyblue)";
                        $('#postBtn')[0].style.color="white";
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
</script>
<body>
  <style type="text/css">
  body {
    padding-top: 0;
    padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71;
  }
  .h1 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #159957;
  }
</style>
<body>

  <section class="display-pic">
  <div style="float:left;margin: 10px; margin-right: 0;">
    <a href="/" class="btn btn-lg btn-link" style="color:#fff;">
  <i class="fa fa-lg fa-arrow-left" style="top:0;"></i>
    </a>
  </div>
   <div style="float:right;margin: 10px;">
    <a href="/auth/settings" class="btn btn-lg btn-link" style="color:#fff;">
  <i class="fa fa-lg fa-cog" style="top:0;"></i>
    </a>
  </div>
  
<br>
<br>
<br>
	
  </section>
   <div class="loaderBar" style="display:none" data-example-id="animated-progress-bar">
    <div class="progress" style="background-color: #fff;">
      <div class="progress-bar progress-bar-striped load" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
    </div>
  </div>
  <br>
  
<div class="container-fluid">
      <form action="/upload" method="POST" enctype="multipart/form-data">
       <br>
<div class="gram-card">
    <div class="gram-card-header">
      <img src="/lib/user.png" class="gram-card-user-image">
      <a class="gram-card-user-name" href=""> {{ author }}</a>
      
            <div class="dropdown gram-card-time">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="glyphicon glyphicon-option-vertical"></i></a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="{{ pudding }}"><i class="fa fa-share"></i> View</a></li>
                
              </ul>
              </div>
              <div class="time">1 min ago.</div>
    </div>
<br>
<br>
    <div class="gram-card-image">
      <center>
    

        <div class="upload-btn-wrapper">
         <button class="btn agradient btn-action whoop" id="post">   <i class="fa fa-lg fa-upload"></i> Upload an image.
         </button>
         <input type='file' name='filetoupload' onchange="readURL(this);" id="file" required/>
        </div>

        <br>
        
      </center>
      <center><img src="" id="blah" class="img-responsive"></center>
    </div>

    <div class="gram-card-content">
     
      <p>
        <label for="inputEmail" class="sr-only">Caption</label>
        <input type="textarea" id="inputCaption" name="caption" class="form-control" placeholder="a_cool_caption" required autofocus>
     </p>

      <p class="comments">0 comments.</p>
      <br>

      <div id="comment" class="comments-div">
      
      <div><a class="user-comment" href="/user/"></a> </div>
      
      
      </div>
    <hr>
    </div>  

    <div class="gram-card-footer">
      
      <button type="button" class="footer-action-icons likes btn btn-link non-hoverable">
        <i class="glyphicon glyphicon-thumbs-up"></i> 0</button>
      
      
      <input class="comments-input" type="text" placeholder="Comment here..."/>
      <button type="button" class="footer-action-icons btn btn-link"><i class="glyphicon glyphicon-comment"></i></button>
    </div>

  </div>
<nav class="navbar navbar-default navbar-fixed-bottom" style="height: 10%;background: white;box-shadow: none;" id="postDiv">
        <button id="postBtn" class="btn btn-lg form-control" style="background: transparent;color: deepskyblue;font-size:30px;" type="submit" disabled>Post</button>
   </nav> 
      </form>
</div>
    
  
    
</body>
<script type="text/javascript">
  function load() {
    $('.loaderBar')[0].style.display='inherit';
    $('.cog-div')[0].style.display='inherit';       
    
    
  }
</script>
<!-- <script type="text/javascript" src="/angular/angular.min.js"></script>
<script type="text/javascript" src="/controllers/controller.main.js"></script> -->

</html>
