
.gram-card{
  background: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 3px;
  width: 100%;
  
  margin:auto;
  margin-bottom: 40px;

  
}

.gram-card-header{
  padding: 20px;
  height: 40px;
}

.user-image {
  margin-top: 10px;
  border-radius: 50%;
  vertical-align: middle;
  width: 100px;
  height: 100px;
}
.gram-card-user-image{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  
}

.time {
  float:right;
  
  padding-top:10px;
  
  color: #999;
}
.gram-card-time{
  float: right;
  width: 23px;
  padding-top:10px;
  text-align: right;
  color: #999;
}

.gram-card-user-name{
  margin-left:10px;
  font-weight:bold;
  color: #262626;
}

.gram-card-content{
  padding: 20px;
}
.img-responsive {
  max-height: 100%;
  align-self: center;
  align-content:center;
}
.likes{

  font-weight: bold;
}

.gram-card-content-user{
  font-weight: bold;
  color: #262626;
}

.hashtag{
  color: #003569;
}

.comments{
  color:#999;
}

.user-comment{
  color: #003569;
}

.gram-card-footer{
  padding: 20px;
  display: flex;
  align-items: center;
}

hr{
  border: none;
  border-bottom: 1px solid #ccc;
  margin-top: 30px;
  margin-bottom: 0px;
  padding-bottom: 0px;
 
}


.footer-action-icons{
  font-size: 16px;
  
}

.comments-input{
  border: none;
  margin-left: 10px;
  width: 100%;
}