@media (min-width: 768px) and (max-width: 991px) {
  .form-container {
    padding-left: 20%;
    padding-right: 20%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .form-container {
    padding-left: 20%;
    padding-right: 20%;
  }
}
@media (min-width: 1200px) {
  .form-container {
    padding-left: 20%;
    padding-right: 20%;
  }
}
.insta-default {
  margin: auto;
}

.dark {
  color:#2c3e50;
}
.google-button {
  height: 40px;
  border-width: 0;
  background-color: #fff;
  color: #737373;
  border-radius: 3px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
  margin: 5px;

  &:focus,
  &:hover {
    box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
  }

  &:active {
    background-color: #e5e5e5;
    box-shadow: none;
    transition-duration: 10ms;
  }
}

.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

.google-button__icon--plus {
  width: 17px;/* 27 */
}

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto',arial,sans-serif;
}

a ~ a {
  margin-left: 20px;
}
.insta-default a {
  padding: 15px 30px;
  display: block;
  background-color: #E33E5C;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  color: #FFF;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s;
}
.insta-default a:hover {
  box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.15);
  transition: all 0.3s;
}
.insta-default a i {
  color: #FFF;
  font-size: 18px;
}

.tab-div {
  color: white;
  background: linear-gradient(150deg,#26B99A 10%,rgb(38, 183, 110) 90%); */

}
.padding {
  padding-top: 16px;
  padding-bottom: 35px;

}
.as-is {
  color: white;
  text-decoration: none;

}
.col-xs-2 {
  width: 19.9%;
  float: left;
  position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.tilted-div {
  /*background-image: linear-gradient(150deg,#dd27c6 0%,#8805ff 100%);
    position: absolute;
    transform: skewY(-1deg);
    transform-origin: 0;
    position: relative;*/
    transform: skewY(-1deg);

}
.feed-view-img {
  width:200px;
  height:200px;
  border-radius: 20px;
  border:2px solid #18bc9c;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.logo {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
h1,h2,h3,h4,h5,h6,a,p,body,html,div,span,form,input {
	font-family: Product Sans;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.top-navbar {
	border-bottom-color: black;
	border-bottom-width: 10px;
}
.top-navbar h2,
.container-fluid h2 {
  color:#2c3e50;
}
.box-shadow {
	border:1px solid #f2f2f2;

}
.dark-mode {
	background-color: #2c3e50;
	 color: white;
}
a:hover,
a {
  text-decoration: none;
}
.margin-top-20 {
	margin-top: 20px;
}
.margin-right-10 {
  margin-right: 10px;
}
.pills {
	width: 40px;
  height: 40px;
}
#notify_message{
    position: fixed;
    display: none;
    z-index: 9999;
    padding-top: 10px;
    height: 50px;
    bottom: 0px;
    width: 100%;
    text-align: center;
    font-size: 22px;
    color: white;
}

.notify_message-success{
    background-color: #26B99A;
}

.notify_message-danger{
    background-color: #d9534f;
}
/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
