/**
 * Custom styles for app.
 */
html {
  height: 100%;
}
html body {
  height: 100%;
  overflow: auto;
}
html body .container-fluid.body-content {
  position: absolute;
  top: 50px;
  bottom: 30px;
  right: 0;
  left: 0;
  overflow-y: auto;
}
header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: #212529;
  height: 50px;
}
footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #212529;
  height: 40px;
}