<!DOCTYPE html>
<html>
  <%- include('../head') -%>
  <body>
    <div class="container-fluid navbar-fixed-top" style="background-color:#fff; margin-bottom:2rem">
        <a class="float-left" href="/">
      <h2>
          <img src="/images/logo/logo.png" class="logo">
          spruce for developers
      </h2>
      </a> 
     
  </div>
  
    <br>
    <div class="container" id="mainPage">
        <h2>API Key</h2>
        <input type="text" class="form-control" value="<%= key %>" disabled>
        
    </div> 
  </body>
 </html>
