/**
 * Custom styles for app.
 */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  background-color: #adadad;
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}
.marquee {
  width: 100%;
  color: Black;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}
.marquee p {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 10s linear 1;
}
.marquee:hover p {
  animation-play-state: paused;
}
@keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}
.overflow-auto {
  height: auto;
  overflow: auto;
}
